<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Add A New Venue</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/venues" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="price" placeholder="Cost Per Day ($CAD)">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="location" placeholder="Location">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="capacity" placeholder="Capacity">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="category" placeholder="Category">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="cateringAvailable" placeholder="Catering (Yes/No)">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="decorationAvailable" placeholder="Decoration (Yes/No)">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="contactno" placeholder="Contact No(s)">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image URL">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit!!">
                </div>
            </form>
            <a href="/venues">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>